@charset "utf-8";
.clearboth::after {
    content: "";
    display: block;
    clear: both;
}

body {
    background-color: #141414;
    width: 100%;
    margin: 0 auto;
}


/* 메뉴 클릭시 나타나는 메뉴화면_menu_wrap */

#menu_wrap {
    position: absolute;
    top: 0;
    left: -250vh;
    z-index: 20;
    width: 100%;
    height: 100vh;
    background-color: #141414;
    color: #fff;
    display: block;
    transition: 1.5s;
    overflow: hidden;
}

#menuBorder p {
    font-family: 'Segoe UI';
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 47.8%;
    left: 4.4%;
    z-index: 15;
    opacity: 1;
}

#menuBorder span {
    position: absolute;
    top: 50%;
    left: 4.4%;
    z-index: 15;
    width: 100px;
    height: 4px;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

#menuBorder:hover>span:nth-child(2) {
    transform: rotate(45deg);
    transition: 0.5s;
    background-color: #d17944;
}

#menuBorder:hover>span:nth-child(3) {
    transform: rotate(-45deg);
    transition: 0.5s;
    background-color: #d17944;
}

#menuBorder:hover>p {
    display: none;
    transition: 0.5s;
    opacity: 0;
}


/* #menuBorder span:nth-child(1) {
    transform: rotate(45deg);
}

#menuBorder span:nth-child(2) {
    transform: rotate(-45deg);
} */

#menu_wrap.open {
    left: 0;
}

#menu_position {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#menu_logoNav {
    width: 80px;
    height: 16px;
    padding: 37px 0;
    padding-left: 80px;
    cursor: pointer;
}

#menu_position p {
    position: absolute;
    top: 20px;
    right: 85px;
    font-family: 'Segoe UI';
    font-size: 16px;
    letter-spacing: 1.1px;
}

#menu_position p span {
    font-family: 'Segoe UI';
    font-size: 26.7px;
    line-height: 26.7px;
    color: #bc6735;
    padding-left: 5px;
    padding-top: -20px;
}

#menu_indexText {
    display: flex;
}

#menu_indexText span {
    font-size: 0;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    display: block;
    position: absolute;
    top: 0;
    left: 295px;
    z-index: 40;
}

#menu_indexText .index2 span {
    position: absolute;
    top: 0;
    left: 769px;
}

#menu_indexText .index3 span {
    left: 1243px;
}

#menu_indexText ul {
    position: absolute;
    top: 420px;
    left: 320px;
    z-index: 30;
    width: 500px;
    height: 0px;
}

#menu_indexText .menu_index_ul2 {
    position: absolute;
    top: 420px;
    left: 794px;
    z-index: 30;
}

#menu_indexText .menu_index_ul3 {
    position: absolute;
    top: 420px;
    left: 1268px;
    z-index: 30;
}

#menu_indexText ul li:nth-child(1) {
    font-family: 'Helvetica95-Black';
    font-size: 90px;
    position: absolute;
    top: 20px;
    left: -4px;
    z-index: 30;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

#menu_indexText .menu_index_ul2 li:nth-child(1) {
    left: 1px;
}

#menu_indexText ul li:nth-child(1):hover {
    opacity: 1;
}

#menu_indexText ul li:nth-child(2):hover {
    opacity: 1;
    color: #d17944;
}

#menu_indexText ul li:nth-child(3):hover {
    opacity: 1;
}

#menu_indexText ul li:nth-child(2) {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 190px;
    left: 0;
    z-index: 30;
    cursor: pointer;
}

#menu_indexText ul li:nth-child(3) {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 240px;
    left: 0;
    z-index: 30;
    opacity: 0.3;
    cursor: pointer;
}

#menu_indexText ul li:nth-child(4) {
    position: absolute;
    top: -200px;
    left: -120px;
    z-index: 29;
    display: none;
    width: auto;
    height: auto;
}

#menu_indexText ul li:nth-child(1):hover~li:nth-child(4) {
    display: block;
    opacity: 1;
    transform: scale(1);
}

#menu_indexImg {
    display: flex;
    position: absolute;
    z-index: 10;
}

#menu_indexImg div:nth-child(1) {
    position: absolute;
    top: 100px;
    left: 80px;
    z-index: 10;
    overflow: hidden;
}

#menu_indexImg div:nth-child(2) {
    position: absolute;
    transform: scale(1.1);
    top: 0px;
    left: 710px;
    z-index: 10;
    overflow: hidden;
}

#menu_indexImg div:nth-child(3) {
    position: absolute;
    transform: scale(1.1);
    top: 470px;
    left: 1415px;
    z-index: 10;
    overflow: hidden;
}

#menu_indexImg div:nth-child(1):hover img {
    transform: scale(1.2);
    transition: 0.5s;
}

#menu_indexImg div:nth-child(2):hover img {
    transform: scale(1.2);
    transition: 0.5s;
}

#menu_indexImg div:nth-child(3):hover img {
    transform: scale(1.2);
    transition: 0.5s;
}


/* -------------------- */

#wrap {
    height: 100vh;
    background-color: #141414;
    margin: 0 auto;
    color: #fff;
}

#wrap.OPEN {
    display: none;
}


/* header_nav */

header {
    width: 1748px;
    padding: 37px 0px;
    display: flex;
    margin: 0 auto;
}

#nav {
    display: flex;
}

#nav_center {
    margin-left: 770px;
}

#nav_center p {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #a4a4a4;
}

#nav_center span {
    font-family: 'Segoe UI';
    font-size: 11px;
    color: #bc6735;
    margin-left: 45px;
}

#nav_right {
    margin-left: 624px;
}

#nav_right a:first-child {
    font-family: 'Helvetica95-Black';
    margin-right: 24px;
}

#nav_right a:first-child:hover {
    border-bottom: 2px solid #949494;
    padding-bottom: 3px;
    color: #f07e0e;
}

#nav_right a:nth-child(2) {
    font-family: 'Helvetica95-Black';
    margin-right: 9px;
}

#nav_right a:nth-child(2):hover {
    border-bottom: 2px solid #949494;
    padding-bottom: 3px;
    color: #f07e0e;
}

#nav_right a:last-child img {
    margin-top: 5px;
}

#nav_right a:last-child img:hover {
    opacity: 0.7;
}


/* 따라다니는 좌우 메뉴들 (왼쪽)*/

#left_menu ul:first-child li {
    font-family: 'Helvetica95-Black';
    font-size: 12px;
    padding: 9px 0;
    z-index: 6;
}

#left_menu ul:first-child li:hover {
    color: #f07e0e;
}

#left_menu ul:first-child {
    position: absolute;
    position: fixed;
    top: 481px;
    left: 78px;
    z-index: 6;
}

#left_menu ul:first-child li:first-child {
    position: absolute;
    position: fixed;
    top: 489px;
    left: 102px;
    z-index: 6;
}

#left_menu p {
    font-family: 'Segoe UI';
    font-size: 12px;
    color: #e0dfdf;
    position: absolute;
    position: fixed;
    top: 556px;
    left: 78px;
    z-index: 6;
}

#left_menu p:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}

#left_menu div {
    background-color: rgb(143, 143, 143);
    width: 75px;
    height: 1px;
    margin-top: 3px;
    position: absolute;
    position: fixed;
    top: 572px;
    left: 78px;
    z-index: 6;
}

#left_menu ul:last-child li:first-child {
    font-family: 'Helvetica95-Black';
    font-size: 12px;
    color: #d17944;
    position: absolute;
    position: fixed;
    top: 600px;
    left: 80px;
    z-index: 6;
}

#left_menu ul:last-child li img {
    position: absolute;
    position: fixed;
    top: 623px;
    left: 80px;
    z-index: 6;
}

#left_menu ul:last-child li:last-child {
    font-family: 'Helvetica95-Black';
    font-size: 12px;
    color: #d17944;
    position: absolute;
    position: fixed;
    top: 620px;
    left: 90px;
    z-index: 6;
}


/* 따라다니는 좌우 메뉴들 (오른쪽) */

#right_menu {
    position: absolute;
    position: fixed;
    top: 513px;
    right: 93px;
    z-index: 6;
}

#right_menu ul {
    display: flex;
    z-index: 6;
}

#right_menu ul li:last-child {
    font-family: 'Helvetica95-Black';
    font-size: 12px;
    margin-top: 7px;
    margin-left: 6px;
    z-index: 6;
}

#right_menu ul li:last-child:hover {
    color: #d17944;
}

#right_menu p {
    font-size: 22px;
    margin-top: 52px;
    margin-left: 10px;
    z-index: 6;
    font-weight: bold;
    letter-spacing: 0.9;
}

#right_menu p:hover {
    color: #d17944;
}

#right_menu div {
    margin-top: 117px;
    margin-left: 50px;
    z-index: 6;
}


/*main_1*/

.title {
    text-align: center;
    transition: 2s;
}

.title p {
    font-family: 'Helvetica95-Black';
    font-size: 150px;
    line-height: 0.9;
    letter-spacing: -2px;
    position: relative;
    z-index: 5;
    animation-name: move;
    animation-duration: 1.2s;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
    transition: 0.5s;
}

@keyframes move {
    0% {
        left: 0;
        top: -800px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.title p:hover {
    color: #bc6735;
    transition: 0.3s;
}

@keyframes move2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#video {
    position: absolute;
    top: 570px;
    right: 326px;
    z-index: 1;
    animation-name: move2;
    animation-duration: 1.5s;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    transition: 0.5s;
}

#video_arrow {
    position: absolute;
    top: 220px;
    right: -90px;
    border: 1px solid #ea681c;
    border-radius: 50%;
    width: 157px;
    height: 157px;
    transition: 0.3s;
}

#video_arrow:hover {
    background: #ea681c;
    border-radius: 50%;
    width: 157px;
    height: 157px;
    border: 0px;
    transition: 0.7s;
}

#video_arrow img {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    width: 12px;
}

@keyframes move3 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#popup {
    display: block;
    background: #fff;
    width: 285px;
    height: 295px;
    color: #2e2e2e;
    position: relative;
    position: absolute;
    top: 670px;
    left: 220px;
    z-index: 5;
    animation-name: move3;
    animation-duration: 0s;
    animation-delay: 2.8s;
    animation-fill-mode: backwards;
    transition: 0.3s;
}

#popup.delete {
    display: none;
}

#popup ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#popup ul li:nth-child(1) {
    margin-left: 250px;
    margin-top: 10px;
}

#popup ul li:nth-child(2) {
    font-size: 14.2px;
    color: #ea681c;
    font-family: 'Myriad';
    position: absolute;
    top: 39px;
    left: 35px;
}

#popup ul li:nth-child(3) {
    font-family: 'TimesNewRomanPS-BoldItalicMT';
    font-size: 20px;
    position: absolute;
    top: 78px;
    left: 43px;
}

#popup ul li:nth-child(4) {
    font-size: 16px;
    letter-spacing: -1px;
    color: #9b9b9b;
    position: absolute;
    top: 135px;
    left: 43px;
}

#popup ul li:nth-child(5) {
    position: absolute;
    top: 222px;
    left: 122px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title_leftbg {
    overflow: hidden;
    position: absolute;
    top: 1230px;
    left: 152px;
    height: 100vh;
    width: 1190px;
    transition: 1s;
}

.title_left {
    text-align: left;
    font-family: 'Helvetica95-Black';
    font-size: 130px;
    line-height: 1.0;
    letter-spacing: -2px;
    z-index: 5;
    margin-left: 67px;
    opacity: 1;
    position: absolute;
    top: -900px;
    transition: 1s;
}

.title_left.on {
    top: 0px;
}

.title_left:hover {
    color: #bc6735;
    transition: 0.4s;
}

.title_left:hover span {
    color: #fff;
}

.title_left p:nth-child(2) {
    color: #bc6735;
}

#main_1-1_img {
    position: absolute;
    top: 1252px;
    left: 1485px;
    z-index: 5;
}

#main_1-1_img:hover {
    overflow: hidden;
}

#main_1-1_img img:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

#main_1-1_text {
    position: absolute;
    top: 1630px;
    left: 983px;
}

#main_1-1_text p:hover {
    color: #fff;
}

#main_1-1_text span {
    color: #fead7e;
}

#main_1-1_text div {
    border: 3px solid #bc6735;
    width: 40px;
    margin-bottom: 25px;
}

#main_1-1_link {
    position: absolute;
    top: 2000px;
    left: 1518px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ea681c;
    border-radius: 50%;
    width: 157px;
    height: 157px;
    transition: 0.3s;
    animation: movearrow 2s infinite;
}

@keyframes movearrow {
    0% {
        transform: translate(0, -50%);
    }
    50% {
        transform: translate(20px, -50%);
    }
    100% {
        transform: translate(0, -50%);
    }
}

#main_1-1_link:hover {
    background: #ea681c;
    border-radius: 50%;
    width: 157px;
    height: 157px;
    border: 0px;
}

#main_1-1_link a {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    width: 12px;
}

#main_1-1_link p {
    margin-top: 230px;
}

#main_1-2_text1 {
    font-family: 'TimesNewRomanPS-ItalicMT';
    font-size: 36px;
    color: #bc6735;
    position: absolute;
    top: 2400px;
    left: 302px;
}

#main_1-2_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1660px;
    z-index: 2;
}

#main_1-2_text2 {
    position: absolute;
    top: 2330px;
    left: 1122px;
}

#main_1-2_text2 p {
    font-family: 'Butler';
    font-size: 48px;
    line-height: 1.2;
}

#main_1-2_text2 :last-child {
    font-family: 'TimesNewRomanPS-ItalicMT';
    font-size: 36px;
    color: #bc6735;
}

#main_1-2_text2 img {
    padding-left: 485px;
}

#main_1-2_arrow {
    margin-top: -150px;
    background: #fff;
    text-align: center;
}

#main_1-2_arrow img {
    margin-top: 90px;
    margin-left: 94px;
    animation: movediv 2s infinite;
}


/* main_2 */

#main_2 {
    width: 100%;
    height: 2070px;
    background-color: #fff;
    color: #353535;
    padding: 0 144px;
}

.main_tit {
    font-size: 21px;
    font-family: 'SegoeUIBlack';
    padding-top: 110px;
    padding-left: 43px;
    margin-bottom: 63px;
}

.main_2_nav {
    display: flex;
    justify-content: space-between;
}

.main_2_nav li {
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 21px;
    color: #000;
    margin-bottom: 80px;
}

.main_2_nav li span {
    color: #b4b3b3;
    padding-right: 20px;
}

#main_2 div:nth-child(3) {
    width: 1600px;
    height: 405px;
    overflow: hidden;
    transition: 1s;
}

.Bigtit_p {
    position: relative;
    top: -450px;
    transition: 1s;
}

.Bigtit_p.down {
    top: 0;
}

#main_2 p {
    color: #000;
    margin: 0 auto;
    padding-left: 145px;
    font-family: 'Helvetica95-Black';
    font-size: 85px;
    letter-spacing: -3px;
    line-height: 1.2;
    margin-bottom: 15px;
}

#main_2 p span {
    color: #b4b3b3;
}

#main_2 ul:nth-child(4) {
    position: relative;
}

#main_2 ul:nth-child(4) li:nth-child(2) {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 80px;
    display: block;
}


/* #main_2 ul:nth-child(4) li:nth-child(3) {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 80px;
    display: block;
}

#main_2 ul:nth-child(4) li:nth-child(4) {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 80px;
    display: block;
}

#main_2 ul:nth-child(4) li:nth-child(5) {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 80px;
    display: block;
}

#main_2 ul:nth-child(4) li:nth-child(6) {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 80px;
    display: block;
} */

#main_2 ul:nth-child(4) li:nth-child(1) {
    position: absolute;
    top: 470px;
    left: -50px;
    transform: rotate(180deg);
    cursor: pointer;
}

#main_2 ul:nth-child(4) li:nth-child(3) {
    position: absolute;
    top: 470px;
    right: -80px;
    cursor: pointer;
}

#main_2 div:last-child {
    margin-top: 980px;
    padding-top: 50px;
    padding-bottom: 107px;
    margin-bottom: 500px;
}

#main_2 div:last-child p {
    font-family: 'TimesNewRomanPS-BoldItalicMT';
    font-size: 24px;
    color: #000;
    letter-spacing: 0px;
    margin-left: 55px;
}

#main_2 div:last-child ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 146px;
    margin-left: 55px;
    width: 95.5%;
}

#main_2 div:last-child ul li:nth-child(1) {
    font-size: 24px;
    font-family: 'Segoe UI-Bold';
    color: #757575;
}

#main_2 div:last-child ul li:nth-child(2) {
    font-size: 18px;
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #000;
}

#main_2 div:last-child ul li:nth-child(2) span {
    color: #fff;
}

#main_2 div:last-child ul li:nth-child(3) {
    font-size: 18px;
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #000;
}

#main_2 div:last-child ul li:nth-child(4) {
    font-size: 18px;
    font-family: 'Segoe UI';
    color: #b4b4b4;
}

.awww {
    border-bottom: 3px solid #838383;
    width: 95.5%;
    margin-left: 55px;
}


/* main_3 */

#main_3 {
    width: 100%;
    height: 670px;
    background: #1f1f1f;
    margin: 0 auto;
}

#main_3 div {
    margin-left: 200px;
    width: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 190px;
    position: relative;
    margin-left: 360px;
}

@keyframes movearrow_2 {
    0% {
        transform: translate(0, -20%);
    }
    50% {
        transform: translate(20px, -20%);
    }
    100% {
        transform: translate(0, -20%);
    }
}

#main_3 div img {
    position: absolute;
    top: 400px;
    left: 200px;
    animation: movearrow_2 2s infinite;
}

#main_3 div p:first-child {
    font-family: 'Segoe UI-Bold';
    font-size: 30px;
    padding-right: 100px;
}

#main_3 ul li {
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 18px;
    color: #929292;
    padding-bottom: 50px;
    padding-top: 8px;
}

#main_3 div p:last-child {
    position: absolute;
    top: 480px;
    right: 29px;
    color: #585858;
    font-size: 18px;
}


/* main_4 */

#main_4 {
    width: 100%;
    height: 770px;
    background: #c0c0c0;
    margin: 0 auto;
    color: #000;
}

#main_4 .main_tit {
    width: 83%;
    display: flex;
    justify-content: space-between;
    padding-left: 340px;
}

#main_4 .main_tit h3 {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 18px;
}

#main_4 .main_tit p {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 18px;
    color: #5d5d5d;
}

#main_4 ul {
    width: 0%;
    margin-top: 210px;
    margin-left: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#main_4 ul li {
    padding: 0 100px;
}

#main_4 ul li span {
    font-family: 'Segoe UI';
    font-size: 14px;
    line-height: 14px;
    padding: 11px 14px;
    color: #333333;
    border: 1px solid #333;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 300px;
    z-index: 2;
}

#main_4 ul li img {
    position: relative;
    z-index: 2;
}

#main_4 ul li:nth-child(2) span {
    position: absolute;
    top: -100px;
    left: 620px;
    z-index: 2;
}

#main_4 ul li:nth-child(3) span {
    position: absolute;
    top: -100px;
    left: 940px;
    z-index: 2;
}

#main_4 ul li:nth-child(4) span {
    position: absolute;
    top: -100px;
    left: 1260px;
    z-index: 2;
}

.main_4_ell {
    display: flex;
    position: relative;
}

.main_4_ell li {
    font-size: 0px;
    line-height: 350px;
    margin: 0 -20px;
    width: 350px;
    color: #333333;
    border: 1px solid rgb(109, 109, 109, 0.5);
    border-radius: 50%;
    position: absolute;
    top: -435px;
    left: 285px;
}

.main_4_ell li:nth-child(1):hover {
    width: 350px;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 1px solid rgba(66, 66, 66, 0.6);
    transition: 1s;
}

.main_4_ell li:nth-child(2) {
    position: absolute;
    top: -435px;
    left: 605px;
}

.main_4_ell li:nth-child(2):hover {
    width: 350px;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 1px solid rgba(66, 66, 66, 0.6);
    transition: 1s;
}

.main_4_ell li:nth-child(3) {
    position: absolute;
    top: -435px;
    left: 925px;
}

.main_4_ell li:nth-child(3):hover {
    width: 350px;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 1px solid rgba(66, 66, 66, 0.6);
    transition: 1s;
}

.main_4_ell li:nth-child(4) {
    position: absolute;
    top: -435px;
    left: 1245px;
}

.main_4_ell li:nth-child(4):hover {
    width: 350px;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 1px solid rgba(66, 66, 66, 0.6);
    transition: 1s;
}

#main_4 ul:nth-child(2) li:nth-child(1) {
    margin-left: 295px;
}

#main_4 ul:nth-child(2) li:nth-child(2) {
    margin-left: 25px;
}

#main_4 ul:nth-child(2) li:nth-child(3) {
    margin-left: 4px;
}

#main_4 ul:nth-child(2) li:nth-child(4) {
    margin-left: -6px;
}

#main_4 div:last-child {
    background: #fff;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    margin: 0 auto;
    margin-top: -188px;
    margin-left: 925px;
    position: absolute;
    z-index: 3;
}

#main_4 div:last-child:hover {
    background: #f37b36;
    color: #fff;
    font-weight: lighter;
    transition: 0.5s;
    font-weight: 600;
}


/* main_5 */

#main_5 .main_tit h3 {
    padding-left: 150px;
    padding-top: 50px;
}


/* main_5(1) */

#main_5_1 img {
    padding-left: 632px;
    margin-top: -83px;
}

#main_5_1 {
    text-align: left;
    position: relative;
}

#main_5_1 P {
    font-family: 'Helvetica95-Black';
    font-size: 110px;
    position: absolute;
    left: 1110px;
    top: 100px;
}

#main_5_1 P:nth-child(3) {
    font-size: 160px;
    top: 205px
}

#main_5_1 ul {
    position: relative;
}

#main_5_1 ul li {
    position: absolute;
    left: 1350px;
    top: -212px;
}

#main_5_1 ul li:nth-child(1) {
    font-family: 'Helvetica95-Black';
    font-size: 24px;
}

#main_5_1 ul li:nth-child(2) {
    font-family: 'Segoe UI';
    font-size: 16px;
    left: 1349px;
    top: -158px;
}

#main_5_1 ul li:nth-child(3) {
    font-family: 'Segoe UI';
    font-size: 16px;
    top: -47px;
    color: #000;
    background: #fff;
    width: 136px;
    height: 50px;
    line-height: 28px;
    padding: 11px 25px;
}

#main_5_1 ul li:nth-child(3):hover {
    background: #f37b36;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
}

#main_5_1 div:last-child {
    position: relative;
}

#main_5_1 div:last-child img {
    /* display: block; */
    margin: 25px 0;
    padding-left: 1700px;
}

#main_5_1 div:last-child img:nth-child(1) {
    position: absolute;
    left: 0;
    top: -630px;
}

#main_5_1 div:last-child img:nth-child(2) {
    position: absolute;
    left: 0;
    top: -570px;
}


/* main_5_2 */

#main_5_2 {
    text-align: right;
    position: relative;
}

#main_5_2 img {
    margin-top: 340px;
}

#main_5_2>p {
    font-family: 'Helvetica95-Black';
    font-size: 160px;
    margin-right: 200px;
    margin-top: -890px;
}

#main_5_2 div img:nth-child(1) {
    margin-right: 300px;
    margin-top: -75px;
}

#main_5_2 div img:nth-child(2) {
    margin-right: 1150px;
    margin-top: -75px;
}

#main_5_2 ul {
    margin-right: 1150px;
}

#main_5_2 ul li:nth-child(1) {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 50px;
}

#main_5_2 ul li:nth-child(2) {
    font-family: 'Segoe UI';
    color: #aaaaaa;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
}

#main_5_2 ul li:nth-child(3) {
    font-family: 'Segoe UI';
    color: #aaaaaa;
    font-size: 16px;
    line-height: 30px;
}

#main_5_2 div:last-child p {
    font-family: 'TimesNewRomanPS-BoldItalicMT';
    font-size: 18px;
    margin-bottom: 8px;
    padding-right: 300px;
}

#main_5_2 div:last-child p:nth-child(1) {
    padding-top: 137px;
}

#main_5_2 div:last-child p:nth-child(2) {
    margin-bottom: 180px;
}


/* main_6 */

#main_6 {
    background: #fff;
    color: #000;
    position: relative;
    width: 100%;
}

#main_6 ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transform: rotate(270deg);
}

#main_6 ul li {
    font-size: 18px;
    color: #141414;
    font-family: 'Segoe UI';
    font-weight: 500;
    padding: 0px 45px;
}

#main_6 ul:nth-child(1) {
    position: absolute;
    top: 470px;
    left: -300px;
}

#main_6 ul:nth-child(1) div {
    background: black;
    width: 99px;
    height: 2px;
    position: absolute;
    left: 210px;
    top: 25px;
    margin: 0 20px;
}

#main_6 ul:nth-child(3) {
    top: 70px;
    left: 1065px;
}

#main_6 ul:nth-child(3) li {
    padding-top: 800px;
    position: relative;
}

#main_6 ul:nth-child(3) li div {
    background: black;
    width: 73px;
    height: 3px;
    position: absolute;
    left: 95px;
    top: 812px;
    margin: 0 20px;
}

#main_6 ul:nth-child(3) li:last-child {
    margin-left: 40px;
}

#main_6 div {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#main_6 div p {
    font-family: 'Helvetica95-Black';
    font-size: 220px;
    position: absolute;
    top: 200px;
    left: 370px;
    letter-spacing: 1px;
    transition: 1.5 s;
    opacity: 0;
    transform: scale(1);
}

#main_6 div p.show {
    opacity: 1;
    transform: scale(1);
}

#main_6 div span {
    color: #fff;
}

#main_6 div img {
    width: 800px;
}


/* main_7 */

#main_7 {
    background: #dedede;
    color: #000;
    width: 100%;
    height: 1070px;
    position: relative;
}

.main_7_var {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transform: rotate(270deg);
}

.main_7_var li {
    font-size: 18px;
    color: #141414;
    font-family: 'Segoe UI';
    font-weight: 500;
    padding: 0px 45px;
}

.var1 {
    position: absolute;
    top: 520px;
    left: -300px;
}

.var1 li {
    position: relative;
}

.var1 li:nth-child(2) div {
    background: black;
    width: 99px;
    height: 2px;
    position: absolute;
    left: 25px;
    top: 25px;
    margin: 0 20px;
}

.var2 {
    top: 120px;
    left: 1065px;
}

.var2 li {
    padding-top: 800px;
    position: relative;
}

.var2 li div {
    background: black;
    width: 73px;
    height: 3px;
    position: absolute;
    left: 95px;
    top: 812px;
    margin: 0 20px;
}

.var2 li:last-child {
    margin-left: 40px;
}

#main_7>div {
    text-align: left;
    display: flex;
    position: relative;
}

#main_7>div p:nth-child(1) {
    font-family: 'Segoe UI';
    font-size: 18px;
    position: absolute;
    top: 155px;
    left: 285px;
}

#main_7>div p:nth-child(2) {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 110px;
    line-height: 0.93;
    position: absolute;
    top: 143px;
    left: 390px;
}

#main_7>div span:nth-child(3) {
    display: block;
    font-size: 0px;
    background: black;
    width: 540px;
    height: 2px;
    position: absolute;
    top: 505px;
    left: 398px;
}

#main_7>div ul:nth-child(4) {
    position: absolute;
    top: 600px;
    left: 396px;
}

#main_7>div ul:nth-child(4) li {
    font-size: 28px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #b3b2b2;
    padding-bottom: 5px;
}

#main_7>div ul:nth-child(4) li:nth-child(1):hover {
    color: #d17944;
    border-bottom: 2px solid #d17944;
    width: 160px;
    cursor: pointer;
}

#main_7>div ul:nth-child(4) li:nth-child(2):hover {
    color: #d17944;
    border-bottom: 2px solid #d17944;
    width: 160px;
    cursor: pointer;
}

#main_7>div ul:nth-child(4) li:nth-child(3):hover {
    color: #d17944;
    border-bottom: 2px solid #d17944;
    width: 168px;
    cursor: pointer;
}

#main_7>div ul:nth-child(4) li:nth-child(4):hover {
    color: #d17944;
    border-bottom: 2px solid #d17944;
    width: 318px;
    cursor: pointer;
}

#main_7>div ul:nth-child(4) li:nth-child(5):hover {
    color: #d17944;
    border-bottom: 2px solid #d17944;
    width: 212px;
    cursor: pointer;
}

#main_7>div ul:nth-child(4) li:nth-child(6):hover {
    color: #d17944;
    border-bottom: 2px solid #d17944;
    width: 196px;
    cursor: pointer;
}

#main_7>div ul:nth-child(4) li:nth-child(7):hover {
    color: #d17944;
    border-bottom: 2px solid #d17944;
    width: 176px;
    cursor: pointer;
}

#main_7>div ul:nth-child(5) li:nth-child(1) {
    font-size: 38px;
    line-height: 1.3;
    font-family: 'TimesNewRomanPSMT';
    color: #000;
    position: absolute;
    top: 152px;
    left: 1221px;
}

#main_7>div ul:nth-child(5) li:nth-child(2) {
    font-size: 16px;
    font-family: 'Segoe UI';
    color: #767676;
    position: absolute;
    top: 596px;
    left: 1221px;
    line-height: 2;
}

#main_7>div ul:nth-child(5) span {
    color: #000;
    font-weight: bold;
}


/* main_8 */

#main_8 {
    background: #141414;
    width: 100%;
    height: 1637px;
    position: relative;
}

#main_8 .main_tit {
    padding-left: 190px;
    padding-top: 160px;
}

.yellow_box {
    background: #f07e0e;
    width: 300px;
    height: 1293px;
    position: absolute;
    left: calc(50% - 150px);
    top: 173px;
}

.yellow_box p {
    position: absolute;
    top: 1160px;
    left: 82px;
}

.yellow_box img {
    position: absolute;
    top: 1210px;
    left: 140px;
}

#main_8 span {
    display: block;
    background: #f07e0e;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 38%;
    z-index: 2;
}

.main_8_photo {
    display: flex;
    margin-left: calc(50% - 485px);
}

.main_8_photo img {
    display: block;
}

.main_8_photo img:nth-child(1) {
    display: block;
    position: absolute;
    z-index: 3;
}

.main_8_photo img:nth-child(2) {
    display: block;
    position: absolute;
    top: 430px;
    left: 0;
}

.main_8_photo img:nth-child(3) {
    display: block;
    position: absolute;
    top: 430px;
    right: 0;
}

#main_8 ul:nth-child(5) li:nth-child(1) {
    font-family: 'Helvetica95-Black';
    font-size: 130px;
    position: absolute;
    top: 830px;
    left: 203px;
    z-index: 4;
}

#main_8 ul:nth-child(5) li:nth-child(2) {
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: 600;
    color: #9c9c9c;
    position: absolute;
    top: 1165px;
    left: 202px;
    border-left: 2px solid #666564;
    height: 65px;
    line-height: 65px;
    padding-left: 21px;
}

#main_8 ul:nth-child(6) li:nth-child(1) {
    font-family: 'Helvetica95-Black';
    font-size: 90px;
    position: absolute;
    top: 565px;
    left: 1530px;
    z-index: 4;
}

#main_8 ul:nth-child(6) li:nth-child(2) {
    font-family: 'Helvetica95-Black';
    font-size: 12px;
    position: absolute;
    top: 672px;
    left: 1610px;
    z-index: 4;
}

#main_8 ul:nth-child(6) li:nth-child(3) {
    font-family: 'TimesNewRomanPS-BoldItalicMT';
    font-size: 18px;
    position: absolute;
    top: 742px;
    left: 1620px;
    z-index: 4;
}

#main_8 div:nth-child(7) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1112px;
    left: 1607px;
    opacity: 0.7;
}

#main_8 div:nth-child(7) img {
    width: 45px;
    padding-bottom: 30px;
}

#main_8 p:nth-child(8) {
    font-family: 'Segoe UI';
    font-size: 25px;
    color: #805a34;
    font-weight: bold;
    position: absolute;
    top: 246px;
    left: 1750px;
    transform: rotate(90deg);
}


/* main_9 */

#main_9 {
    background: #fff;
    width: 100%;
    color: #141414;
}

#main_9 div:nth-child(1) {
    position: relative;
}

#main_9 div:nth-child(1) p:nth-child(1) {
    font-family: 'Helvetica95-Black';
    font-size: 130px;
    padding-top: 136px;
    padding-left: 210px;
}

#main_9 div:nth-child(1) p:nth-child(2) {
    font-family: 'Segoe UI';
    text-align: center;
    font-size: 16px;
    background: #f0f0f0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 223px;
    right: 287px;
}

#main_9 div:nth-child(1) p:nth-child(2):hover {
    background: #141414;
    color: #fff;
    transition: 0.4s;
    font-weight: 600;
    cursor: pointer;
}

#main_9 div:nth-child(2) {
    display: flex;
    padding-left: 216px;
    padding-top: 43px;
}

#main_9 div:nth-child(2) ul {
    padding-right: 62px;
}

#main_9 div:nth-child(2) ul li:nth-child(1) {
    margin-bottom: 55px;
    overflow: hidden;
    height: 248px;
}

#main_9 div:nth-child(2) ul li:nth-child(1):hover {
    overflow: hidden;
}

#main_9 div:nth-child(2) ul li:nth-child(1):hover img {
    transform: scale(1.2);
    transition: 0.5s;
}

#main_9 div:nth-child(2) ul li:nth-child(2) {
    padding-bottom: 25px;
    font-size: 18px;
    font-family: 'SegoeUI-Semilight';
}

#main_9 div:nth-child(2) ul li:nth-child(3) {
    padding-bottom: 81px;
    font-size: 22px;
    font-family: 'Segoe UI';
    font-weight: 600;
    letter-spacing: -0.22px;
}

#main_9 div:nth-child(2) ul li:nth-child(4) {
    font-size: 14.5px;
    font-family: 'SegoeUI-Light';
    letter-spacing: -0.22px;
    margin-bottom: 136px;
}

#main_9 div:nth-child(2) ul li:nth-child(4):hover {
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
    /* border-bottom: 1.5px solid #f07e0e;
    width: 113px; */
}

#main_9 div:nth-child(2) ul li:nth-child(4) img {
    padding-right: 8px;
}

#main_9 div:nth-child(2) ul:nth-child(3) li:nth-child(3) {
    padding-bottom: 50px;
}

@keyframes movediv {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 30px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

#main_9 div:nth-child(3) {
    position: absolute;
    left: calc(50% - 60px);
    transform: rotate(180deg);
    margin-top: -60px;
    animation: movediv 2s infinite;
}


/* main_10 */

#main_10 {
    background: #141414;
    color: #fff;
}

#main_10 .main_tit {
    display: flex;
}

#main_10 .main_tit h3 {
    font-size: 21px;
    padding-left: 145px;
}

#main_10 .main_tit h4 {
    font-size: 21px;
    padding-left: 1150px;
    padding-right: 20px;
}

#main_10 .main_tit img {
    padding-top: 3px;
    /* animation: movearrow_2 2s infinite; */
}

#main_10 div:nth-child(2) {
    display: flex;
    align-items: flex-start;
    position: relative;
}

#main_10 div:nth-child(2)>p {
    font-size: 73px;
    font-family: 'Helvetica95-Black';
    padding-left: 280px;
}

#main_10 div:nth-child(2) span {
    color: #bababa;
}

#main_10 div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    position: relative;
}

#main_10 div:nth-child(2) div p {
    font-size: 24px;
    font-family: 'TimesNewRomanPS-ItalicMT';
    margin-top: 12px;
    margin-left: -150px;
}

#main_10 div:nth-child(2) div ul {
    display: flex;
}

#main_10 .sns {
    padding-left: 225px;
    padding-top: 10px;
}

#main_10 .sns li {
    padding: 10px;
}

#main_10 .main_10_box {
    position: absolute;
    top: 295px;
    left: 286px;
}

#main_10 .main_10_box li {
    color: #ababab;
    font-size: 18px;
    font-family: 'Segoe UI';
}

#main_10 .main_10_box li:nth-child(1) {
    background: #464646;
    width: 348px;
    height: 57px;
    line-height: 57px;
    padding-left: 30px;
    margin-bottom: 4px;
}

#main_10 .main_10_box li:nth-child(1):hover {
    background: #fff;
    color: #464646;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

#main_10 .main_10_box li:nth-child(1) img {
    padding-top: 26px;
    padding-left: 97px;
}

#main_10 .main_10_box li:nth-child(2) {
    background: #606060;
    width: 348px;
    height: 57px;
    line-height: 57px;
    padding-left: 30px;
}

#main_10 .main_10_box li:nth-child(2):hover {
    background: #fff;
    color: #606060;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

#main_10 .main_10_box li:nth-child(2) img {
    padding-top: 24px;
    padding-left: 0px;
    margin-right: 5px;
}

#main_10 .main_10_logo {
    display: flex;
    align-items: center;
    position: relative;
}

#main_10 .main_10_logo img {
    position: absolute;
    top: 290px;
    left: -790px;
    padding-bottom: 115px;
}

#main_10 .main_10_logo ul {
    display: flex;
    flex-direction: column;
}

#main_10 .main_10_logo ul li:nth-child(1) {
    font-family: 'TimesNewRomanPS-ItalicMT';
    font-size: 24px;
    color: #d3d3d3;
    position: absolute;
    top: 390px;
    left: -460px;
}

#main_10 .main_10_logo ul li:nth-child(2) {
    font-family: 'SegoeUIBlack';
    font-size: 42px;
    color: #bc6735;
    position: absolute;
    top: 450px;
    left: -460px;
}


/* footer */

#footer {
    width: 100%;
}

#footer>div {
    width: 80%;
    margin: 0 auto;
    border-top: 2px solid #606060;
    margin-top: 495px;
    display: flex;
    position: relative;
}

#footer>div p {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 18px;
    color: #7b7b7b;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 60px;
}

#footer>div ul {
    display: flex;
    padding-top: 38px;
}

#footer>div .footer_logo li:nth-child(1) {
    font-family: 'Segoe UI-Bold';
    font-size: 21px;
    margin-left: 240px;
}

#footer>div .footer_logo li:nth-child(2) {
    margin-left: 65px;
    border-right: 2px solid #4e4e4e;
    height: 51px;
    padding-right: 8px;
}

#footer>div .footer_logo li:nth-child(3) {
    font-family: 'Segoe UI';
    font-size: 13.5px;
    line-height: 1.0;
    margin-bottom: 2px;
    margin-right: 30px;
    padding-left: 5px;
}

#footer>div ul:last-child {
    position: absolute;
    top: 95px;
    left: 0;
    padding-bottom: 330px;
    padding-left: 60px;
}

#footer>div ul:last-child li {
    font-family: 'Segoe UI-Bold';
    font-size: 21px;
    margin-right: 94px;
    padding-bottom: 7px;
    border-bottom: 2px solid #7b7b7b;
}